div#laScene {
  position: fixed;
  top: -70px;
  left: 10em;
  margin: 0 auto;
  perspective: 90px;
  background-color: #272420;
  width: 45px;
  /* cursor: url(../cursors/rubik.png) 1 1, pointer; */
}

/* ==========================================
Animation cube with guys-links :hover
========================================== */

div#leCube {
  /* border-radius: 10px; */
  width: 40px;
  height: 235px;
  /* position: relative; */
  transform-style: preserve-3d;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
  /* margin: 2em auto; */
}

/* ==================================
LES 6 FACES */
div#leCube > div {
  background-color: #bd2129;
  /* transition: 1s; */
  border-radius: 1px;
  position: absolute;
  top: 100px;
  width: 35px;
  height: 35px;
  border: 1px solid #272420;
  /* box-shadow: 0 0 5px #272420; */
  box-shadow: 0 0 2px #272420 inset;
}

/* =========================================
    PLACEMENTS FACES
========================================= */
div#face_avant {
  transition: 1s; /* Pour adoucir l'alongement de la face (cf index.html) */
  transform: rotateY(0deg) translateZ(27px);
  /* animation: cubeRespireFaceAvant 5s normal infinite; */
  /* animation: cubeReforme 5s ease infinite; */
}
div#face_gauche {
  transition: 1s;
  transform: rotateY(-90deg) translateZ(27px);
  /* background-color: #bd2129; */
  /* animation: cubeRespireFaceGauche 5s normal infinite; */
  /* animation: cubeReforme 15s ease infinite; */
}
div#face_droite {
  transition: 1s;
  transform: rotateY(90deg) translateZ(27px);
  /* background-color: #bd2129; */
  /* animation: cubeRespireFaceDroite 5s infinite; */
  /* animation: cubeReforme 15s ease infinite; */
}
div#face_haut {
  transition: 1s;
  transform: rotateX(90deg) translateZ(27px);
  /* background-color: #bd2129; */
  /* animation: cubeRespireFaceHaut 5s infinite; */
  /* animation: cubeReforme 15s ease infinite; */
}
div#face_bas {
  transition: 1s;
  transform: rotateX(-90deg) translateZ(27px);
  /* background-color: #bd2129; */
  /* animation: cubeRespireFaceBas 5s infinite; */
  /* animation: cubeReforme 15s ease infinite; */
}
div#face_arriere {
  transition: 1s;
  transform: rotateY(180deg) translateZ(27px);
  /* background-color: #bd2129; */
  /* animation: cubeRespireFaceArriere 5s infinite; */
  /* animation: cubeReforme 15s ease infinite; */
}

/* =========================================
    ANIMATION RESPIRATION CUBE
========================================= */
@keyframes cubeRespireFaceAvant {
  0% {
    transform:  translateZ(160px);
  }
  50% {
    transform: translateZ(160px);
  }
  60% {
    transform: translateZ(180px);
  }
  /* 65% {
    transform: translateZ(180px);
  } */
  90% {
    transform: translateZ(160px);
  }
  100% {
    transform: translateZ(160px);
  }
}
@keyframes cubeRespireFaceGauche {
  0% {
    transform: rotateY(-90deg)  translateZ(160px);
  }
  50% {
    transform: rotateY(-90deg) translateZ(160px);
  }
  60% {
    transform: rotateY(-90deg) translateZ(180px);
  }
  90% {
    transform: rotateY(-90deg) translateZ(160px);
  }
  100% {
    transform: rotateY(-90deg) translateZ(160px);
  }
}
@keyframes cubeRespireFaceDroite {
  0% {
    transform: rotateY(90deg)  translateZ(160px);
  }
  50% {
    transform: rotateY(90deg) translateZ(160px);
  }
  60% {
    transform: rotateY(90deg) translateZ(180px);
  }
  90% {
    transform: rotateY(90deg) translateZ(160px);
  }
  100% {
    transform: rotateY(90deg) translateZ(160px);
  }
}
@keyframes cubeRespireFaceHaut {
  0% {
    transform: rotateX(90deg)  translateZ(160px);
  }
  50% {
    transform: rotateX(90deg) translateZ(160px);
  }
  60% {
    transform: rotateX(90deg) translateZ(180px);
  }
  90% {
    transform: rotateX(90deg) translateZ(160px);
  }
  100% {
    transform: rotateX(90deg) translateZ(160px);
  }
}
@keyframes cubeRespireFaceBas {
  0% {
    transform: rotateX(-90deg)  translateZ(160px);
  }
  50% {
    transform: rotateX(-90deg) translateZ(160px);
  }
  60% {
    transform: rotateX(-90deg) translateZ(180px);
  }
  90% {
    transform: rotateX(-90deg) translateZ(160px);
  }
  100% {
    transform: rotateX(-90deg) translateZ(160px);
  }
}
@keyframes cubeRespireFaceArriere {
  0% {
    transform: rotateY(180deg) translateZ(160px);
  }
  50% {
    transform: rotateY(180deg) translateZ(160px);
  }
  60% {
    transform: rotateY(180deg) translateZ(180px);
  }
  90% {
    transform: rotateY(180deg) translateZ(160px);
  }
  100% {
    transform: rotateY(180deg) translateZ(160px);
  }
}
@keyframes cubeReforme {
  0% {
    width: 200px;
    height: 200px;
  }
  73% {
    width: 200px;
    height: 200px;
    background-color: #bd2129;
  }
  80% {
    width: 320px;
    height: 320px;
    background-color: #a71017;
  }
  83% {
    width: 320px;
    height: 320px;
    background-color: #a71017;
  }
  95% {
    width: 200px;
    height: 200px;
    background-color: #bd2129;
  }
  100% {
    width: 200px;
    height: 200px;
    /* background-color: #bd2129; */
  }
}
