div#laScene {
  position: fixed;
  top: 100px;
  left: 25%;
  margin: 0 auto;
  perspective: 230px;
  background-color: #272420;
  cursor: url(../cursors/rubik.png) 1 1, pointer;
}

/* ==========================================
Animation cube with guys-links :hover
========================================== */

div#leCube {
  /* border-radius: 10px; */
  width: 130px;
  height: 330px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
  margin: 2em auto;
}

/* ==================================
LES 6 FACES */
div#leCube > div {
  /* transition: 1s; */
  background-color: #bd2129;
  border-radius: 3px;
  position: absolute;
  top: 100px;
  width: 130px;
  height: 130px;
  border: 1px solid #272420;
  /* box-shadow: 0 0 10px #000; */
  box-shadow: 0 0 10px #272420 inset;
}

/* =========================================
    PLACEMENTS FACES
========================================= */
div#face_avant {
  transition: 1s; /* Pour adoucir l'alongement de la face (cf index.html) */
  transform: rotateY(0deg) translateZ(95px);
  animation: cubeRespireFaceAvant 5s normal infinite, cubeClaicit 5s normal infinite;
  /* animation: cubeReforme 5s ease infinite; */
}
div#face_gauche {
  transition: 1s;
  transform: rotateY(-90deg) translateZ(95px);
  animation: cubeRespireFaceGauche 5s normal infinite;
}
div#face_droite {
  transition: 1s;
  transform: rotateY(90deg) translateZ(95px);
  animation: cubeRespireFaceDroite 5s infinite;
}
div#face_haut {
  transition: 1s;
  transform: rotateX(90deg) translateZ(95px);
  animation: cubeRespireFaceHaut 5s infinite;
}
div#face_bas {
  transition: 1s;
  transform: rotateX(-90deg) translateZ(95px);
  animation: cubeRespireFaceBas 5s infinite;
}
div#face_arriere {
  transition: 1s;
  transform: rotateY(180deg) translateZ(95px);
  animation: cubeRespireFaceArriere 5s infinite;
}

/* =========================================
    ANIMATION RESPIRATION CUBE
========================================= */
@keyframes cubeRespireFaceAvant {
  0% {
    transform:  translateZ(95px);
  }
  50% {
    transform: translateZ(95px);
  }
  60% {
    transform: translateZ(105px);
  }
  /* 65% {
    transform: translateZ(105px);
  } */
  90% {
    transform: translateZ(95px);
  }
  100% {
    transform: translateZ(95px);
  }
}
@keyframes cubeRespireFaceGauche {
  0% {
    transform: rotateY(-90deg)  translateZ(95px);
  }
  50% {
    transform: rotateY(-90deg) translateZ(95px);
  }
  60% {
    transform: rotateY(-90deg) translateZ(105px);
  }
  90% {
    transform: rotateY(-90deg) translateZ(95px);
  }
  100% {
    transform: rotateY(-90deg) translateZ(95px);
  }
}
@keyframes cubeRespireFaceDroite {
  0% {
    transform: rotateY(90deg)  translateZ(95px);
  }
  50% {
    transform: rotateY(90deg) translateZ(95px);
  }
  60% {
    transform: rotateY(90deg) translateZ(105px);
  }
  90% {
    transform: rotateY(90deg) translateZ(95px);
  }
  100% {
    transform: rotateY(90deg) translateZ(95px);
  }
}
@keyframes cubeRespireFaceHaut {
  0% {
    transform: rotateX(90deg)  translateZ(95px);
  }
  50% {
    transform: rotateX(90deg) translateZ(95px);
  }
  60% {
    transform: rotateX(90deg) translateZ(105px);
  }
  90% {
    transform: rotateX(90deg) translateZ(95px);
  }
  100% {
    transform: rotateX(90deg) translateZ(95px);
  }
}
@keyframes cubeRespireFaceBas {
  0% {
    transform: rotateX(-90deg)  translateZ(95px);
  }
  50% {
    transform: rotateX(-90deg) translateZ(95px);
  }
  60% {
    transform: rotateX(-90deg) translateZ(105px);
  }
  90% {
    transform: rotateX(-90deg) translateZ(95px);
  }
  100% {
    transform: rotateX(-90deg) translateZ(95px);
  }
}
@keyframes cubeRespireFaceArriere {
  0% {
    transform: rotateY(180deg) translateZ(95px);
  }
  50% {
    transform: rotateY(180deg) translateZ(95px);
  }
  60% {
    transform: rotateY(180deg) translateZ(105px);
  }
  90% {
    transform: rotateY(180deg) translateZ(95px);
  }
  100% {
    transform: rotateY(180deg) translateZ(95px);
  }
}
/* ============================================================== */
@keyframes cubeClaicit {
  0% {
    background-color: rgba(189, 33, 41, 1);
  }
  50% {
    background-color: rgba(189, 33, 41, 1);
  }
  60% {
    background-color: rgba(189, 33, 41, .7);
  }
  90% {
    background-color: rgba(189, 33, 41, 1);
  }
  100% {
    background-color: rgba(189, 33, 41, 1);
  }
}

