@font-face {
    font-family: "aguafina regular";
    src: url("../fonts/AguafinaScript-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "ubuntu light";
    src: url("../fonts/Ubuntu-L.ttf") format("opentype");
}
@font-face {
    font-family: "ubuntu regular";
    src: url("../fonts/Ubuntu-R.ttf") format("opentype");
}
@font-face {
    font-family: "Redressed";
    src: url("../fonts/Redressed.ttf") format("opentype");
}

/* ================ RESET CSS ================ */
body, nav, div, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "ubuntu regular", sans-serif, serif;
    background-color: #272420;
    height: 100vh;
}
/* ============================= Le logo, pas le sigle =================================== */
h1 {
    padding: 1em;
}

/* =============================== NAVBAR ============================= */
nav.navBarStyle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
span.logoGroupeStyle{
    font: lighter small-caps 1em "ubuntu light", sans-serif, serif;
    color: #C0C9C6;
}
span.logoFboStyle {
    position: absolute;
    font: bolder small-caps 1em "ubuntu regular", sans-serif, serif;
    animation: letterSpacingLogo ease-in-out 5s infinite;
    color: #bd2129;
}
nav .appliNom {
    margin-left: 3em;
    font: bolder small-caps 3em "aguafina regular", sans-serif, serif;
    letter-spacing: .1em;
    color: #C0C9C6;
}

nav#accueil {
    padding-left: 2%;
    width: 60%;
    margin: 0 auto;
}
@keyframes letterSpacingLogo {
    0% {
        padding-left: 0;
        letter-spacing: normal;
    }
    75% {
        letter-spacing: normal;
        padding-left: 0;
        color: rgb(189, 33, 41);
    }
    89% {
        padding-left: 7px;
        letter-spacing: 7px;
        color: rgba(0, 0, 0, 0);
    }
    90% {
        padding-left: 0;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: rgb(189, 33, 41);
    }
}
