@font-face {
    font-family: "aguafina regular";
    src: url("../fonts/AguafinaScript-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "ubuntu title";
    src: url("../fonts/ubuntu-title-fr-1.1.ttf") format("opentype");
}
@font-face {
    font-family: "ubuntu light";
    src: url("../fonts/Ubuntu-L.ttf") format("opentype");
}
@font-face {
    font-family: "ubuntu regular";
    src: url("../fonts/Ubuntu-R.ttf") format("opentype");
}
@font-face {
    font-family: great-vibes;
    src: url("../fonts/GreatVibes-Regular.otf");
}
/* ================ RESET CSS ================ */
body, nav, div, p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "ubuntu regular", sans-serif, serif;
    background-color: #272420;
    height: 100vh;
}
/* ============================= Le logo, pas le sigle =================================== */
/* =============================== NAVBAR ============================= */
nav.navBarStyle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em; */
    padding: 1em 3em;
}
span.logoGroupeStyle{
    font: lighter small-caps 1em "ubuntu light", sans-serif, serif;
    color: #C0C9C6;
}
span.logoFboStyle {
    position: absolute;
    font: bolder small-caps 1em "ubuntu regular", sans-serif, serif;
    animation: letterSpacingLogo ease-in-out 5s infinite;
    color: #bd2129;
}
nav .appliNom {
    /* margin-left: 3em; */
    font: small-caps 2em "ubuntu light", sans-serif, serif;
    /* letter-spacing: .1em; */
    color: #bd2129;
}
nav .appliSwap {
    font: bolder small-caps 1em "ubuntu regular", sans-serif, serif;
    color: #C0C9C6;
}

nav .menuPicto a {
    border-radius: 50%;
}
nav .menuPicto img{
    width: 3em;
}

div.navBorderBottom {
    height: 2px;
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(to right,#272420, #bd2129, #272420);
}
@keyframes letterSpacingLogo {
    0% {
        padding-left: 0;
        letter-spacing: normal;
    }
    75% {
        letter-spacing: normal;
        padding-left: 0;
        color: rgb(189, 33, 41);
    }
    89% {
        padding-left: 7px;
        letter-spacing: 7px;
        color: rgba(0, 0, 0, 0);
    }
    90% {
        padding-left: 0;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0);
    }
    100% {
        color: rgb(189, 33, 41);
    }
}
